#app {
  font-family: sans-serif;
}

.input--uncommited {
  background-color: #DDD;
}

.counter {
  width: 100%;
  padding: 1em 0;
}

.counter__unit {
  height: 2em;
  max-width: 2em;
  width: 5%;
  background-color: #DDD;
  border-radius: 0.25em;
  border: solid 1px #DDD;
  display: inline-block;
  margin: 0 0.5%;
}

.counter__unit--active {
  background-color: #FC0;
}